{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="content">
    <h1>Images Generator</h1>
    <p>"Create stunning visuals effortlessly with our AI-powered image generator. Simply enter a keyword, and let the magic unfold before your eyes!"</p>
</div>
<div class="container">
    <h1>Generate Images With Our AI</h1>
    <form action="{% url 'images' %}" method="post">
        {% csrf_token %}
        <input type="text" name="img" placeholder="Type here ..." />
        <button class="generate-btn" type="submit">Generate</button>
    </form>
    <div class="result">
        <p>Generated Image will show in here </p>
        <img class="generated-img" src="{{img}}" alt="">
    </div>
</div>
<h3 class="text-center m-2 p-2">All Imges You Generate </h3>
<div class="slider-container">
    <div class="slider">
        {% for image in images %}
        <div class="slide"><img src="{{image.url}}" alt="imge"></div>
        {% endfor %}
    </div>
</div>
<div class="buttons">
    <button  onclick="prevSlide()">Previous</button>
    <button  onclick="nextSlide()">Next</button>
</div>
<script>
    let currentSlide = 0;
    function showSlide(index) {
    const slides = document.querySelector('.slider');
    const totalSlides = document.querySelectorAll('.slide').length;
    if (index < 0) {
    currentSlide = totalSlides - 1;
    } else if (index >= totalSlides) {
    currentSlide = 0;
    } else {
    currentSlide = index;
    }
    slides.style.transform = `translateX(-${currentSlide * 100}%)`;
    }
    function nextSlide() {
    showSlide(currentSlide + 1);
    }
    function prevSlide() {
    showSlide(currentSlide - 1);
    }
</script>
{% endblock %}